<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Pandas</li>
<li>Matplotlib</li>
</ol>

|Data Science Tools|
|------------------|
|Scikit Learn|
|R|
|MATLAB|

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
# This a simple arithmetic expression to mutiply then add integers

In [7]:
x = 200
y = 60
hours = x/y
print(hours)

3.3333333333333335

In [ ]:
# This will convert 200 minutes to hours by diving by 60.

**List popular languages for Data Science**
<ul>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ul>

<h2>Author:Adusumilli Tarun